@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  font-family: "Open Sans", sans-serif;
}
.navbar img {
  width: 79px;
  height: 29px;
  margin: 0px 0px 0px 150px;
}
.navbar ul {
  color: #fff;
  margin: 0px 148px 0px 0px;
}
.navbar ul li {
  display: inline;
  margin: 0px 47px 0px 0px;
  opacity: 0.69;
}
.navbar ul li a {
  color: #fff;
}

.header-wrapper {
  height: 86vh;
  background-color: #9a9a9a;
}
.header-wrapper .header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "text-b sign";
  padding-top: 112px;
  margin: 0 auto;
  max-width: 1100px;
  max-height: 400px;
}
.header-wrapper .header .header__text-block {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
      grid-template-areas: "logo" "tit" "text" "butt";
  color: #fff;
  grid-area: text-b;
}
.header-wrapper .header .header__text-block .header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  width: 175px;
  height: 60px;
}
.header-wrapper .header .header__text-block .header__tittle {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  grid-area: tit;
}
.header-wrapper .header .header__text-block .header__text {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  grid-area: text;
  width: 461px;
  height: 61px;
  line-height: 23px;
}
.header-wrapper .header .header__text-block .header__button {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: butt;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  height: 42px;
  border: 1.2px solid white;
}
.header-wrapper .header .header__signup {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sign;
}

.brand-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14vh;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}
.brand-bar-wrapper .brand-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  max-height: 61px;
  margin: 20px 122px;
  border-bottom: 1px;
}
.brand-bar-wrapper .brand-bar .brand-bar__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brand-bar-wrapper .brand-bar .brand-bar__tittle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  width: 122px;
  height: 17px;
  color: #333333;
}
.brand-bar-wrapper .brand-bar .brand-bar__text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  margin-top: 10px;
  width: 360px;
  height: 32px;
  line-height: 20px;
}
.brand-bar-wrapper .brand-bar .brand-bar__links {
  margin-left: 111px;
}

.feature .feature__first-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 73vh;
}
.feature .feature__first-page-wrapper .feature__first-page {
  max-width: 1116px;
  max-height: 379px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.feature .feature__first-page-wrapper .feature__first-page .feature___text-block {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: text;
  margin: 0 80px;
}
.feature .feature__first-page-wrapper .feature__first-page .feature___text-block .feature__tittle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #000;
  width: 344px;
  height: 21px;
  margin-bottom: 52px;
}
.feature .feature__first-page-wrapper .feature__first-page .feature___text-block .feature__text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 476px;
  height: 132px;
  color: #86878b;
}
.feature .feature__first-page-wrapper .feature__first-page .feature___text-block .feature__button {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 1px 1px #dddddd;
          box-shadow: 0 0 1px 1px #dddddd;
  width: 121px;
  height: 46px;
  background-color: #ff8b38;
  border: 1.2px solid white;
  border-radius: 6px;
  margin-top: 25px;
}
.feature .feature__first-page-wrapper .feature__first-page .feature__img-block {
  grid-area: img;
  margin-top: 25px;
}
.feature .feature__second-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 73vh;
}
.feature .feature__second-page-wrapper .feature__second-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1116px;
  max-height: 379px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__insert {
  margin-right: 193px;
  -webkit-box-shadow: 15px -10px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 15px -10px 10px 5px rgba(0, 0, 0, 0.2);
  width: 453px;
  height: 303px;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list .feature__sub-list-tittle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 30px;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #86878b;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list h4 {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #212121;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list .feature__download {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "icon1 icondesc1" "icon2 icondesc2";
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list .feature__download .h4 {
  margin-bottom: 6px;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list .feature__download .icon1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon1;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list .feature__download .icon2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: icon2;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list .feature__download .icondesc1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icondesc1;
}
.feature .feature__second-page-wrapper .feature__second-page .feature__sub-list .feature__download .icondesc2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: icondesc2;
}
.feature .feature__third-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  height: 73vh;
}
.feature .feature__third-page-wrapper .feature__third-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1116px;
  max-height: 379px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature .feature__third-page-wrapper .feature__third-page .feature__decription {
  width: 473px;
  height: 210px;
}
.feature .feature__third-page-wrapper .feature__third-page .feature__insert_two {
  -webkit-box-shadow: 15px -10px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 15px -10px 10px 5px rgba(0, 0, 0, 0.2);
  width: 453px;
  height: 303px;
  margin-right: 197px;
}

.process {
  height: 83vh;
}
.process .wrapper {
  max-width: 1116px;
  max-height: 379px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px auto;
  padding-top: 108px;
}
.process .wrapper .process__page {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
      grid-template-areas: "tit tit tit" "item1 item2 item3";
  grid-gap: 2rem;
}
.process .wrapper .process__page .process__tittle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: tit;
  margin-bottom: 60px;
}
.process .wrapper .process__page .process__tittle h2 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 43px;
  color: #212121;
}
.process .wrapper .process__page .process__tittle p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
  color: #86878b;
  line-height: 20px;
}
.process .wrapper .process__page .process_reasons-item1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item1;
  max-width: 350px;
  max-height: 197px;
}
.process .wrapper .process__page .process_reasons-item1 .process__item-tittle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  line-height: 24px;
  margin: 25px 0px;
}
.process .wrapper .process__page .process_reasons-item1 .process__item-text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  line-height: 20px;
}
.process .wrapper .process__page .process_reasons-item2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: item2;
  max-width: 350px;
  max-height: 197px;
}
.process .wrapper .process__page .process_reasons-item2 .process__item-tittle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  line-height: 24px;
  margin: 25px 0px;
}
.process .wrapper .process__page .process_reasons-item2 .process__item-text {
  font-family: "Open Sans";
  color: #86878b;
  line-height: 20px;
}
.process .wrapper .process__page .process_reasons-item3 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: item3;
  max-width: 350px;
  max-height: 197px;
}
.process .wrapper .process__page .process_reasons-item3 .process__item-tittle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  margin: 25px 0px;
  color: #333333;
  line-height: 24px;
}
.process .wrapper .process__page .process_reasons-item3 .process__item-text {
  color: #86878b;
  font-family: "Open Sans";
  line-height: 20px;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 123vh;
  background-color: #f5f5f5;
}
.pricing .wrappep {
  max-width: 1100px;
  max-height: 679px;
  margin: 0 auto;
}
.pricing .wrappep .pricing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing .wrappep .pricing-page .pricing__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
.pricing .wrappep .pricing-page .pricing__tittle .h2 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  color: #212121;
  line-height: 43px;
  text-transform: uppercase;
}
.pricing .wrappep .pricing-page .pricing__tittle img {
  width: 64px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pricing .wrappep .pricing-page .pricing__tittle p {
  color: #86878b;
  font-family: "Open Sans";
  line-height: 20px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89vh;
}
.feedback .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1057px;
  max-height: 382px;
}
.feedback .wrapper .feedback__page {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tit tit tit" "item1 item2 item3";
  grid-gap: 2rem;
}
.feedback .wrapper .feedback__page .feedback__tittle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: tit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.feedback .wrapper .feedback__page .feedback__tittle h1 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  color: #212121;
}
.feedback .wrapper .feedback__page .feedback__tittle img {
  margin: 20px 0;
  width: 64px;
  height: 2px;
}
.feedback .wrapper .feedback__page .feedback__tittle p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.feedback .wrapper .feedback__page .feedback__item-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item1;
}
.feedback .wrapper .feedback__page .feedback__item-1 .feedback__nameblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback .wrapper .feedback__page .feedback__item-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: item2;
}
.feedback .wrapper .feedback__page .feedback__item-2 .feedback__nameblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback .wrapper .feedback__page .feedback__item-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: item3;
}
.feedback .wrapper .feedback__page .feedback__item-3 .feedback__nameblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}