@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.navbar {
  width: 100%;
  height: 72px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif; }
  .navbar img {
    width: 79px;
    height: 29px;
    margin: 0px 0px 0px 150px; }
  .navbar ul {
    color: #fff;
    margin: 0px 148px 0px 0px; }
    .navbar ul li {
      display: inline;
      margin: 0px 47px 0px 0px;
      opacity: 0.69; }
      .navbar ul li a {
        color: #fff; }

.header-wrapper {
  height: 86vh;
  background-color: #9a9a9a; }
  .header-wrapper .header {
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'text-b sign';
    padding-top: 112px;
    margin: 0 auto;
    max-width: 1100px;
    max-height: 400px; }
    .header-wrapper .header .header__text-block {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      display: -ms-grid;
      display: grid;
      grid-gap: 1rem;
      grid-template-areas: 'logo' 'tit' 'text' 'butt';
      color: #fff;
      grid-area: text-b; }
      .header-wrapper .header .header__text-block .header__logo {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: logo;
        width: 175px;
        height: 60px; }
      .header-wrapper .header .header__text-block .header__tittle {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 36px;
        grid-area: tit; }
      .header-wrapper .header .header__text-block .header__text {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        width: 461px;
        height: 61px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        grid-area: text; }
      .header-wrapper .header .header__text-block .header__button {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        width: 71px;
        height: 13px;
        color: #ffffff;
        font-size: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-area: butt;
        width: 135px;
        height: 42px;
        border: 1.2px solid white; }
    .header-wrapper .header .header__signup {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: sign; }

.brand-bar-wrapper {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .brand-bar-wrapper .brand-bar {
    max-width: 1080px;
    max-height: 61px;
    margin: 20px 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px; }
    .brand-bar-wrapper .brand-bar .brand-bar__text-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .brand-bar-wrapper .brand-bar .brand-bar__tittle {
      width: 122px;
      height: 17px;
      color: #333333;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700; }
    .brand-bar-wrapper .brand-bar .brand-bar__text {
      margin-top: 10px;
      width: 360px;
      height: 32px;
      color: #86878b;
      font-family: "Open Sans";
      line-height: 20px; }
    .brand-bar-wrapper .brand-bar .brand-bar__links {
      margin-left: 111px; }

.feature {
  background-color: #f5f5f5;
  height: 73vh; }
  .feature .feature__first-page-wrapper {
    padding: 147px 0px 0px 0px; }
    .feature .feature__first-page-wrapper .feature__first-page {
      max-width: 1100px;
      max-height: 334px;
      display: -ms-grid;
      display: grid;
      grid-template-areas: 'tab text img';
      grid-gap: 3.5rem;
      margin: 0 auto; }
      .feature .feature__first-page-wrapper .feature__first-page .feature__tab {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: tab; }
      .feature .feature__first-page-wrapper .feature__first-page .feature___text-block {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        grid-area: text; }
        .feature .feature__first-page-wrapper .feature__first-page .feature___text-block .feature__tittle {
          width: 344px;
          height: 21px;
          color: #000;
          font-family: "Open Sans";
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 52px; }
        .feature .feature__first-page-wrapper .feature__first-page .feature___text-block .feature__text {
          width: 476px;
          height: 132px;
          color: #86878b;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 20px; }
        .feature .feature__first-page-wrapper .feature__first-page .feature___text-block .feature__button {
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          -webkit-box-shadow: 0 0 1px 1px #dddddd;
          box-shadow: 0 0 1px 1px #dddddd;
          width: 121px;
          height: 46px;
          background-color: #ff8b38;
          border-radius: 6px;
          color: #fff;
          font-size: 15px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border: 1.2px solid white;
          margin-top: 25px; }
      .feature .feature__first-page-wrapper .feature__first-page .feature__img-block {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        grid-area: img;
        margin-top: 25px; }
  .feature .feature__second-page-wrapper {
    margin: 147px 0px 0px 0px;
    height: 73vh; }
    .feature .feature__second-page-wrapper .feature__second-page {
      max-width: 1116px;
      max-height: 379px;
      margin: 0 auto; }
      .feature .feature__second-page-wrapper .feature__second-page .feature__insert {
        -webkit-box-shadow: 15px -10px 10px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 15px -10px 10px 5px rgba(0, 0, 0, 0.2);
        width: 453px;
        height: 303px; }
