@import "nullstyle.scss";

$fz:100px;
$color_1:#000;
$color_2:#fff;
$gray-clr: #9a9a9a;
$bc-clr_1: #f5f5f5;

@mixin fontz($f,$c){
	font-size: $f;
	color: $c;
}
.navbar {
	width: 100%;
	height: 72px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: $color_1;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	img {
		width: 79px;
		height: 29px;
		margin: 0px 0px 0px 150px;
	}
	ul {
		color: $color_2;
		margin: 0px 148px 0px 0px;
	 li {
		display: inline;
		margin: 0px 47px 0px 0px;
		opacity: 0.69;
		a {
			color: $color_2;
		}
	}
  }
}
.header-wrapper {
	height: 86vh;
	background-color: $gray-clr;
	.header {
		display: grid;
		grid-template-areas: 'text-b sign';
		padding-top: 112px;
		margin: 0 auto;
		max-width: 1100px;
		max-height: 400px;
		.header__text-block {
			display: grid;
			grid-gap: 1rem;
			grid-template-areas: 
			'logo'
			'tit'
			'text'
			'butt';
			color: $color_2;
			grid-area: text-b;
			.header__logo {
				grid-area: logo;
				width: 175px;
				height: 60px;
			}
			.header__tittle {
				font-weight: 400;
				font-family: 'Raleway', sans-serif;
				text-transform: uppercase;
				font-size: 36px;
				grid-area: tit;
			}
			.header__text {
				width: 461px;
				height: 61px;
				font-family: Raleway;
				font-size: 16px;
				font-weight: 300;
				line-height: 23px;
				grid-area: text;
			}
			.header__button {
				font-family: 'Open Sans', sans-serif;
				font-weight: bold;
				width: 71px;
				height: 13px;
			    color: #ffffff;
				font-size: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				grid-area: butt;
				width: 135px;
				height: 42px;
				border: 1.2px solid white;
			}
		}
		.header__signup {
			grid-area: sign;
		}
	}
}
.brand-bar-wrapper{
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .2);
	height: 14vh;
	display: flex;
	align-items: center;
	.brand-bar {
		max-width: 1080px;
		max-height: 61px;
		//height: 14vh;
		margin: 20px 122px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px;
		.brand-bar__text-block {
			display: flex;
			align-items: center;
		}
		.brand-bar__tittle {
			width: 122px;
			height: 17px;
			color: #333333;
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: 700;
		}
		.brand-bar__text {
			margin-top: 10px;
			width: 360px;
			height: 32px;
			color: #86878b;
			font-family: "Open Sans";
			line-height: 20px;
		}
		.brand-bar__links {
			margin-left: 111px;
		}
	}
}
.feature {
	background-color: #f5f5f5;
	height: 73vh;
	.feature__first-page-wrapper {
		padding: 147px 0px 0px 0px;
		.feature__first-page {
			max-width: 1100px;
			max-height: 334px;
			display: grid;
			grid-template-areas:'tab text img';
			grid-gap: 3.5rem;
			margin: 0 auto;
			.feature__tab {
				grid-area: tab;
			}
			.feature___text-block {
				grid-area: text;
				.feature__tittle {
					width: 344px;
					height: 21px;
					color: $color_1;
					font-family: "Open Sans";
					font-size: 20px;
					font-weight: 700;
					margin-bottom: 52px;
				}
				.feature__text{
					width: 476px;
					height: 132px;
					color: #86878b;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
				}
				.feature__button {
					font-family: 'Open Sans', sans-serif;
					font-weight: bold;
					box-shadow: 0 0 1px 1px rgba(221, 221, 221, 1);
					width: 121px;
					height: 46px;
					background-color: #ff8b38;
					border-radius: 6px;
			    	color: $color_2;
					font-size: 15px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1.2px solid white;
					margin-top: 25px;
				}
			}
			.feature__img-block {
				grid-area: img;
				margin-top: 25px;
			}
		}
	}
	.feature__second-page-wrapper {
		margin: 147px 0px 0px 0px;
		height: 73vh;
		.feature__second-page {
			max-width: 1116px;
			max-height: 379px;
			margin: 0 auto;
			.feature__insert {
				box-shadow: 15px -10px 10px 5px rgba(0, 0, 0, .2);
				width: 453px;
				height: 303px;
			}
		}
	}
}